html, body {
    height: 100%;
}

#root {
    min-height: 100%;
}

.container-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: blue;
    background-image: repeating-linear-gradient(-30deg, #001a66, #4d79ff);
    background-attachment: fixed;
}

.forms.container  {
    min-height: 100vh;
    padding: 20px 15px;
}

.button-wrapper button {
    margin: auto;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: blue;
    height: 40px;
    width: 60%;
    background-image: repeating-linear-gradient(-30deg, #427bff, #2c5cff);
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-text {
    color: #193997;
    text-align: center;
    padding: 10px;
    font-size: 24px;
}

.custom-file-upload {
    border: 1px solid #dfdfdf;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.redirect-p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: auto;
}

.current-form {
    padding: 15px 25px;
    margin-top: 50px;
    margin-bottom: auto;
    background: white;
    border-radius: 5px;
}

.current-form input {
    background: #dfdfdf;
}

.current-form input[type="file"] {
    display: none;
}

.current-form label {
    color: black;
}

.current-form small {
    color: #a30d08;
}

hr {
    overflow: visible;
    padding: 0;
    border-top: medium double #333;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #333;
    text-align: center;
}

hr::after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
